<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>

<body style="font-family:Arial, Helvetica, sans-serif; margin:0; padding:0"> 
<table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border:none!important; border-style:none">
  <tr>
    <td height="101" valign="top" align="left" bgcolor="#0a0a0a">
      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="300" valign="middle" align="left" style="padding-top:20px; padding-left:30px">
            <a href="[_hdr_logo_left_link]" target="_blank"><img src="https://kawasaki.blob.core.windows.net/media/2014/12/wfslogo.png" alt=" westlake financial services" width="170" height="59" /></a>
          </td>
          <td width="300" valign="middle" align="right" style="padding-top:20px; padding-right:30px"><a href="[_hdr_logo_right_link]" target="_blank"><img src="http://kawasaki.blob.core.windows.net/media/2014/12/kawasakilogo1.png" width="162" height="28" /></a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="363" valign="top" align="center" bgcolor="#313131" style="border-bottom:14px solid #bb2227">
      <table width="540" border="0" cellspacing="0" cellpadding="0" style="color:#ffffff; font-size:14px; font-family:Arial, Helvetica, sans-serif; border-style:none">
        <tr>
          <td style="padding-top:50px">
            <p style="padding:0; margin:0;line-height:37px">
            Thank you for inquiring about a  Kawasaki <span style="font-weight:bold; color:#8bdc2c">[_cycle_model].</span><br />
            A representative from your local dealer will reach out to you shortly to discuss model<br /> 
            options and special event pricing.  If you would like to contact the dealership in advance, please see the information below.
            </p>  
          </td>
        </tr>
        <tr>
          <td valign="middle" align="center" style="padding-top:50px">
            <a href="[_voucher_link]" target="_blank">
                <img src="https://kawasaki.blob.core.windows.net/media/2014/12/voucherbtn.png" alt="voucher button" width="197" height="41" />
            </a>
          </td>
        </tr>  
      </table>

    </td>
  </tr>
  <tr style="border-style:none">
    <td valign="middle" align="center" height="72" style="color:#bb2227; font-size:24px; border-style:none; font-family:Arial, Helvetica, sans-serif; padding-bottom:10px">Your Dealerships</td>
  </tr>
  <tr style="border-style:none">
    <td valign="top" align="center" height="177" style="border-style:none">
      <table width="555" border="0" cellspacing="0" cellpadding="0" style="border-style:none">
        <tr>
          <td width="185" valign="top">
          <!-- start -->
            <table width="180" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif">
              <tr>
                <td><p style="font-size:14px;font-weight:bold; color:#231f20; margin:0; padding:0">[_dealer1_name]</p></td>
              </tr>
              <tr>
                <td valign="top" align="left">
                <p style="line-height:22px; font-size:14px; margin:0; padding:0">
                  [_dealer1_address]<br />
                  [_dealer1_phone]<br />
                </p>  
                </td>
              </tr>
              <tr>
                <td valign="top" align="left" style="padding-top:15px">
                  <table width="140" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30">
                        <img src="https://kawasaki.blob.core.windows.net/media/2014/12/marker.png" alt="marker" width="20" height="30" />
                    </td>
                    <td width="110">
                      <a href="https://www.google.com/maps/place/[_dealer1_latitude],[_dealer1_longitude]" target="_blank" style="color:#bb2227; text-decoration:none; font-size:12px; font-weight:normal">View on Map</a>
                    </td>
                  </tr>
                </table>
                </td>
              </tr>
            </table>
          <!-- end -->
          </td>
          <td width="185" valign="top">
          <!-- start -->
            <table width="180" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif">
              <tr>
                <td><p style="font-size:14px;font-weight:bold; color:#231f20; margin:0; padding:0">[_dealer2_name]</p></td>
              </tr>
              <tr>
                <td valign="top" align="left">
                <p style="line-height:22px; font-size:14px; margin:0; padding:0">
                  [_dealer2_address]<br />
                  [_dealer2_phone]<br />
                </p>  
                </td>
              </tr>
              <tr>
                <td valign="top" align="left" style="padding-top:15px">
                  <table width="140" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30">
                      <img src="http://kawasaki.blob.core.windows.net/media/2014/12/marker.png" alt="marker" width="20" height="30"/>
                    </td>
                    <td width="110">
                      <a href="https://www.google.com/maps/place/[_dealer2_latitude],[_dealer2_longitude]" target="_blank" style="color:#bb2227; text-decoration:none; font-size:12px; font-weight:normal">View on Map</a>
                    </td>
                  </tr>
                </table>
                </td>
              </tr>
            </table>
          <!-- end -->
          </td>
          <td width="185" valign="top">
          <!-- start -->
            <table width="180" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif">
              <tr>
                <td><p style="font-size:14px;font-weight:bold; color:#231f20; margin:0; padding:0">[_dealer3_name]</p></td>
              </tr>
              <tr>
                <td valign="top" align="left">
                <p style="line-height:22px; font-size:14px; margin:0; padding:0">
                  [_dealer3_address]<br />
                  [_dealer3_phone]<br />
                </p>  
                </td>
              </tr>
              <tr>
                <td valign="top" align="left" style="padding-top:15px">
                  <table width="140" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30">
                      <img src="http://kawasaki.blob.core.windows.net/media/2014/12/marker.png" alt="marker" width="20" height="30"/>
                    </td>
                    <td width="110">
                      <a href="https://www.google.com/maps/place/[_dealer3_latitude],[_dealer3_longitude]" target="_blank" style="color:#bb2227; text-decoration:none; font-size:12px; font-weight:normal">View on Map</a>
                    </td>
                  </tr>
                </table>
                </td>
              </tr>
            </table>
          <!-- end -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="middle" align="center" height="37" bgcolor="#878788" style="border-style:none">
      <p style="color:#ffffff; font-size:11px; font-weight:normal; font-family:Arial, Helvetica, sans-serif">
        <a href="[_privacy_link]" target="_blank" style="color:#ffffff; text-decoration:none">Privacy Policy</a> &nbsp;&nbsp; | &nbsp;&nbsp;Copyright &copy; 2014 Westlake Financial Services All Rights Reserved. &reg;
      </p>  
    </td>
  </tr>
</table>

</body>
</html>
