<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>

<body>
    <table width="700" border="0" cellspacing="10" cellpadding="5" style="background:#323232">
        <tr>
            <td style="vertical-align:middle; text-align:left">
                <table width="700" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="393" style="vertical-align:middle; text-align:left">
                            <img src="https://iwantwestlake.blob.core.windows.net/media/2015/11/iww-logo.jpg" alt="" width="369" height="55" />
                        </td>
                        <td width="307" style="vertical-align:bottom; font-size:18px; color:#ffffff; font-weight:normal; font-family:Arial, Helvetica, sans-serif">
                            The Yes! Yes! Lender.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="background:white">
            <td>
                <table width="700" border="0" cellspacing="0" cellpadding="10">
                    <tr>
                        <td style="text-align:center">
                            <img src="https://iwantwestlake.blob.core.windows.net/media/2015/11/iww-banner.jpg" alt="" width="680" height="134" />
                        </td>
                    </tr>
                    <tr>
                        <td height="50" valign="middle" style="text-align:center; font-size:20px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;">
                            Ready For Your Next Car?
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal">
                            Westlake can help! We have over 18k dealer relationships across the nation. We are ready to help with your auto finance needs.<br /><br />Please visit any of these preferred dealerships in your area, and follow 3-easy steps.
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal">
                            <strong>Awarded to:</strong> { [_full_name] }
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal">
                            <strong>Customer #:</strong> { [_lead_id] }
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal"><strong>1) Present this email to your local dealership.</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li style="font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; line-height:22px">
                                    [_dealer1]
                                </li>
                                <li style="font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; line-height:22px">
                                    [_dealer2]
                                </li>
                                <li style="font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; line-height:22px">
                                    [_dealer3]
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="680" height="146" border="0" cellspacing="0" cellpadding="10">
                                <tr>
                                    <td background="https://iwantwestlake.blob.core.windows.net/media/2015/11/iww-car-banner-bg.jpg" style="background-repeat:no-repeat; font-size:15px; font-family:Arial, Helvetica, sans-serif"><strong>2) Tell them you want Westlake Financial Services<br /> to purchase your loan.<br /><br />3) Start driving your new car!</strong></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:15px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; line-height:22px">
                            Questions? Call 866-863-4466.<br /><strong>Business Hours (PST)</strong><br />Monday - Friday: 7:00 Am - 6:00 PM<br />
                            Saturday: 8:00 Am - 3:00 PM<br /><br />
                            <strong>{ [_full_name] }</strong><br />
                            { [_email] }<br />
                            { [_phone_work] }

                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="center">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="680" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="35" valign="middle" align="center" style="color:#ffffff; font-size:12px; font-family:Arial, Helvetica, sans-serif"><a href="#" style="color:#ffffff; text-decoration:none">Westlake Financial Services</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="#" style="color:#ffffff; text-decoration:none">www.WestlakeFinancial.com</a> &nbsp; &nbsp; | &nbsp; &nbsp; 1.888.8.YesYes 1.888.893.7937 </td>
                    </tr>
                    <tr>
                        <td align="center" height="50">
                            <table width="255" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="147" style="color:#ffffff; font-size:18px; font-family:Arial, Helvetica, sans-serif">Connect with Us:</td>
                                    <td width="108">
                                        <a href="#" style="color:#ffffff; text-decoration:none">
                                            <img src="https://iwantwestlake.blob.core.windows.net/media/2015/11/fb-icon.jpg" alt="" width="24" height="23" />
                                        </a>&nbsp;&nbsp;
                                        <a href="#" style="color:#ffffff; text-decoration:none">
                                            <img src="https://iwantwestlake.blob.core.windows.net/media/2015/11/tweet-icon.jpg" alt="" width="24" height="23" />
                                        </a>&nbsp;&nbsp;
                                        <a href="#" style="color:#ffffff; text-decoration:none">
                                            <img src="https://iwantwestlake.blob.core.windows.net/media/2015/11/linkedin-icon.jpg" alt="" width="24" height="23" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
